# Phase 2 : Analyse de donnees

## Se familiariser avec l'API

In [1]:
from cinelytics_sdk import MovieClient, MovieConfig

c:\Users\kkade\Desktop\Cinelytics_Dashboard\.venv\Lib\site-packages\pydantic\_internal\_config.py:373: UserWarning: Valid config keys have changed in V2:
* 'orm_mode' has been renamed to 'from_attributes'
  warnings.warn(message, UserWarning)

In [2]:
# Initialisation du client avec l'URL de l'API
config = MovieConfig(movie_base_url="https://cinema-insights.onrender.com")
client = MovieClient(config=config)

# 1. Health check
print("Health check:")
print(client.health_check())

MOVIE_API_BASE_URL in MovieConfig init: https://cinema-insights.onrender.com
Health check:
{'message': "Bienvenue sur l'API CINEMA_INSIGHTS. Statut : OK"}

In [3]:
# 2. Récupérer un film par ID
print("\n Movie ID 1:")
movie = client.get_movie(1)
print(movie)
print(type(movie))

 Movie ID 1:
movieId=1 title='Toy Story (1995)' genres='Adventure|Animation|Children|Comedy|Fantasy' ratings=[RatingBase(userId=1, movieId=1, rating=4.0, timestamp=964982703), RatingBase(userId=5, movieId=1, rating=4.0, timestamp=847434962), RatingBase(userId=7, movieId=1, rating=4.5, timestamp=1106635946), RatingBase(userId=15, movieId=1, rating=2.5, timestamp=1510577970), RatingBase(userId=17, movieId=1, rating=4.5, timestamp=1305696483), RatingBase(userId=18, movieId=1, rating=3.5, timestamp=1455209816), RatingBase(userId=19, movieId=1, rating=4.0, timestamp=965705637), RatingBase(userId=21, movieId=1, rating=3.5, timestamp=1407618878), RatingBase(userId=27, movieId=1, rating=3.0, timestamp=962685262), RatingBase(userId=31, movieId=1, rating=5.0, timestamp=850466616), RatingBase(userId=32, movieId=1, rating=3.0, timestamp=856736119), RatingBase(userId=33, movieId=1, rating=3.0, timestamp=939647444), RatingBase(userId=40, movieId=1, rating=5.0, timestamp=832058959), RatingBase(userId=43, movieId=1, rating=5.0, timestamp=848993983), RatingBase(userId=44, movieId=1, rating=3.0, timestamp=869251860), RatingBase(userId=45, movieId=1, rating=4.0, timestamp=951170182), RatingBase(userId=46, movieId=1, rating=5.0, timestamp=834787906), RatingBase(userId=50, movieId=1, rating=3.0, timestamp=1514238116), RatingBase(userId=54, movieId=1, rating=3.0, timestamp=830247330), RatingBase(userId=57, movieId=1, rating=5.0, timestamp=965796031), RatingBase(userId=63, movieId=1, rating=5.0, timestamp=1443199669), RatingBase(userId=64, movieId=1, rating=4.0, timestamp=1161520134), RatingBase(userId=66, movieId=1, rating=4.0, timestamp=1104643957), RatingBase(userId=68, movieId=1, rating=2.5, timestamp=1158531426), RatingBase(userId=71, movieId=1, rating=5.0, timestamp=864737933), RatingBase(userId=73, movieId=1, rating=4.5, timestamp=1464196374), RatingBase(userId=76, movieId=1, rating=0.5, timestamp=1439165548), RatingBase(userId=78, movieId=1, rating=4.0, timestamp=1252575124), RatingBase(userId=82, movieId=1, rating=2.5, timestamp=1084467729), RatingBase(userId=86, movieId=1, rating=4.0, timestamp=1344082549), RatingBase(userId=89, movieId=1, rating=3.0, timestamp=1520408314), RatingBase(userId=90, movieId=1, rating=3.0, timestamp=856353996), RatingBase(userId=91, movieId=1, rating=4.0, timestamp=1112713037), RatingBase(userId=93, movieId=1, rating=3.0, timestamp=942767337), RatingBase(userId=96, movieId=1, rating=5.0, timestamp=964772990), RatingBase(userId=98, movieId=1, rating=4.5, timestamp=1532457849), RatingBase(userId=103, movieId=1, rating=4.0, timestamp=1431954238), RatingBase(userId=107, movieId=1, rating=4.0, timestamp=829322340), RatingBase(userId=112, movieId=1, rating=3.0, timestamp=1442535639), RatingBase(userId=119, movieId=1, rating=3.5, timestamp=1435942468), RatingBase(userId=121, movieId=1, rating=4.0, timestamp=847656180), RatingBase(userId=124, movieId=1, rating=4.0, timestamp=1336584336), RatingBase(userId=130, movieId=1, rating=3.0, timestamp=832589610), RatingBase(userId=132, movieId=1, rating=2.0, timestamp=1157921785), RatingBase(userId=134, movieId=1, rating=3.0, timestamp=832841103), RatingBase(userId=135, movieId=1, rating=4.0, timestamp=1009691859), RatingBase(userId=137, movieId=1, rating=4.0, timestamp=1204859907), RatingBase(userId=140, movieId=1, rating=3.0, timestamp=942924980), RatingBase(userId=141, movieId=1, rating=4.0, timestamp=1513130643), RatingBase(userId=144, movieId=1, rating=3.5, timestamp=1137323419), RatingBase(userId=145, movieId=1, rating=5.0, timestamp=832105242), RatingBase(userId=151, movieId=1, rating=5.0, timestamp=855947195), RatingBase(userId=153, movieId=1, rating=2.0, timestamp=1525548642), RatingBase(userId=155, movieId=1, rating=3.0, timestamp=961861723), RatingBase(userId=156, movieId=1, rating=4.0, timestamp=1106854640), RatingBase(userId=159, movieId=1, rating=4.5, timestamp=1508640172), RatingBase(userId=160, movieId=1, rating=4.0, timestamp=971115026), RatingBase(userId=161, movieId=1, rating=4.0, timestamp=1176751765), RatingBase(userId=166, movieId=1, rating=5.0, timestamp=1189980529), RatingBase(userId=167, movieId=1, rating=3.5, timestamp=1154721923), RatingBase(userId=169, movieId=1, rating=4.5, timestamp=1059427918), RatingBase(userId=171, movieId=1, rating=5.0, timestamp=866904159), RatingBase(userId=177, movieId=1, rating=5.0, timestamp=1435533535), RatingBase(userId=178, movieId=1, rating=4.0, timestamp=1164354911), RatingBase(userId=179, movieId=1, rating=4.0, timestamp=852114051), RatingBase(userId=182, movieId=1, rating=4.0, timestamp=1063289621), RatingBase(userId=185, movieId=1, rating=4.0, timestamp=1044311830), RatingBase(userId=186, movieId=1, rating=4.0, timestamp=1031080831), RatingBase(userId=191, movieId=1, rating=4.0, timestamp=829759809), RatingBase(userId=193, movieId=1, rating=2.0, timestamp=1435856890), RatingBase(userId=200, movieId=1, rating=3.5, timestamp=1229886312), RatingBase(userId=201, movieId=1, rating=5.0, timestamp=939801780), RatingBase(userId=202, movieId=1, rating=4.0, timestamp=974923506), RatingBase(userId=206, movieId=1, rating=5.0, timestamp=850763267), RatingBase(userId=213, movieId=1, rating=3.5, timestamp=1316196157), RatingBase(userId=214, movieId=1, rating=3.0, timestamp=853937855), RatingBase(userId=216, movieId=1, rating=3.0, timestamp=975211713), RatingBase(userId=217, movieId=1, rating=4.0, timestamp=955942540), RatingBase(userId=219, movieId=1, rating=3.5, timestamp=1194681084), RatingBase(userId=220, movieId=1, rating=5.0, timestamp=1230055565), RatingBase(userId=223, movieId=1, rating=3.5, timestamp=1226209758), RatingBase(userId=226, movieId=1, rating=3.5, timestamp=1095662606), RatingBase(userId=229, movieId=1, rating=5.0, timestamp=838144316), RatingBase(userId=232, movieId=1, rating=3.5, timestamp=1076955621), RatingBase(userId=233, movieId=1, rating=3.0, timestamp=1524781249), RatingBase(userId=234, movieId=1, rating=5.0, timestamp=1004409347), RatingBase(userId=239, movieId=1, rating=4.0, timestamp=1221158265), RatingBase(userId=240, movieId=1, rating=5.0, timestamp=849122434), RatingBase(userId=247, movieId=1, rating=5.0, timestamp=1467644119), RatingBase(userId=249, movieId=1, rating=4.0, timestamp=1347317775), RatingBase(userId=252, movieId=1, rating=4.5, timestamp=1498284904), RatingBase(userId=254, movieId=1, rating=4.5, timestamp=1180446553), RatingBase(userId=263, movieId=1, rating=4.0, timestamp=940384199), RatingBase(userId=264, movieId=1, rating=4.0, timestamp=1136978964), RatingBase(userId=266, movieId=1, rating=2.0, timestamp=945669542), RatingBase(userId=269, movieId=1, rating=5.0, timestamp=850865423), RatingBase(userId=270, movieId=1, rating=5.0, timestamp=853918728), RatingBase(userId=273, movieId=1, rating=5.0, timestamp=835861234), RatingBase(userId=274, movieId=1, rating=4.0, timestamp=1171410158), RatingBase(userId=275, movieId=1, rating=5.0, timestamp=1049076484), RatingBase(userId=276, movieId=1, rating=4.0, timestamp=858350384), RatingBase(userId=277, movieId=1, rating=4.0, timestamp=861812794), RatingBase(userId=279, movieId=1, rating=3.0, timestamp=1506394495), RatingBase(userId=280, movieId=1, rating=4.5, timestamp=1348435273), RatingBase(userId=282, movieId=1, rating=4.5, timestamp=1378495714), RatingBase(userId=283, movieId=1, rating=3.0, timestamp=901227602), RatingBase(userId=288, movieId=1, rating=4.5, timestamp=1054568869), RatingBase(userId=290, movieId=1, rating=4.0, timestamp=975031464), RatingBase(userId=291, movieId=1, rating=4.0, timestamp=1453051567), RatingBase(userId=292, movieId=1, rating=4.0, timestamp=1219625000), RatingBase(userId=293, movieId=1, rating=3.0, timestamp=1044870886), RatingBase(userId=298, movieId=1, rating=2.0, timestamp=1447518257), RatingBase(userId=304, movieId=1, rating=5.0, timestamp=881428344), RatingBase(userId=307, movieId=1, rating=4.0, timestamp=1186160893), RatingBase(userId=314, movieId=1, rating=3.0, timestamp=834398280), RatingBase(userId=322, movieId=1, rating=3.5, timestamp=1217676206), RatingBase(userId=323, movieId=1, rating=3.5, timestamp=1422640363), RatingBase(userId=328, movieId=1, rating=5.0, timestamp=1494210665), RatingBase(userId=330, movieId=1, rating=4.0, timestamp=1285904910), RatingBase(userId=332, movieId=1, rating=4.0, timestamp=1352672340), RatingBase(userId=334, movieId=1, rating=3.5, timestamp=1225477466), RatingBase(userId=336, movieId=1, rating=4.0, timestamp=1122227329), RatingBase(userId=337, movieId=1, rating=4.0, timestamp=860255715), RatingBase(userId=339, movieId=1, rating=4.0, timestamp=1460183470), RatingBase(userId=341, movieId=1, rating=5.0, timestamp=1439750939), RatingBase(userId=347, movieId=1, rating=5.0, timestamp=847645986), RatingBase(userId=350, movieId=1, rating=4.0, timestamp=864940931), RatingBase(userId=353, movieId=1, rating=5.0, timestamp=831939685), RatingBase(userId=357, movieId=1, rating=5.0, timestamp=1348610184), RatingBase(userId=359, movieId=1, rating=4.0, timestamp=1198112023), RatingBase(userId=364, movieId=1, rating=5.0, timestamp=869443366), RatingBase(userId=367, movieId=1, rating=5.0, timestamp=997811550), RatingBase(userId=372, movieId=1, rating=3.0, timestamp=874416443), RatingBase(userId=373, movieId=1, rating=3.0, timestamp=846830172), RatingBase(userId=378, movieId=1, rating=4.5, timestamp=1445347576), RatingBase(userId=380, movieId=1, rating=5.0, timestamp=1493420345), RatingBase(userId=381, movieId=1, rating=3.5, timestamp=1164383653), RatingBase(userId=382, movieId=1, rating=4.5, timestamp=1515162628), RatingBase(userId=385, movieId=1, rating=4.0, timestamp=834691642), RatingBase(userId=389, movieId=1, rating=5.0, timestamp=857934174), RatingBase(userId=391, movieId=1, rating=3.0, timestamp=1032388077), RatingBase(userId=396, movieId=1, rating=5.0, timestamp=1111688626), RatingBase(userId=399, movieId=1, rating=4.0, timestamp=1167220428), RatingBase(userId=401, movieId=1, rating=3.5, timestamp=1510450550), RatingBase(userId=411, movieId=1, rating=5.0, timestamp=835532155), RatingBase(userId=412, movieId=1, rating=2.0, timestamp=939114353), RatingBase(userId=414, movieId=1, rating=4.0, timestamp=961438127), RatingBase(userId=420, movieId=1, rating=4.0, timestamp=1218207191), RatingBase(userId=422, movieId=1, rating=4.0, timestamp=986173307), RatingBase(userId=432, movieId=1, rating=2.5, timestamp=1316391457), RatingBase(userId=434, movieId=1, rating=4.0, timestamp=1270604402), RatingBase(userId=436, movieId=1, rating=4.0, timestamp=833529571), RatingBase(userId=438, movieId=1, rating=4.5, timestamp=1105650469), RatingBase(userId=443, movieId=1, rating=4.0, timestamp=1501722482), RatingBase(userId=448, movieId=1, rating=5.0, timestamp=1019126661), RatingBase(userId=451, movieId=1, rating=5.0, timestamp=854089165), RatingBase(userId=453, movieId=1, rating=5.0, timestamp=1005966797), RatingBase(userId=456, movieId=1, rating=5.0, timestamp=856883308), RatingBase(userId=460, movieId=1, rating=4.5, timestamp=1359177505), RatingBase(userId=462, movieId=1, rating=1.5, timestamp=1154037653), RatingBase(userId=468, movieId=1, rating=4.0, timestamp=831400444), RatingBase(userId=469, movieId=1, rating=4.0, timestamp=965336888), RatingBase(userId=470, movieId=1, rating=4.0, timestamp=849224825), RatingBase(userId=471, movieId=1, rating=5.0, timestamp=1496671820), RatingBase(userId=474, movieId=1, rating=4.0, timestamp=978575760), RatingBase(userId=476, movieId=1, rating=4.0, timestamp=835021447), RatingBase(userId=477, movieId=1, rating=4.0, timestamp=1200939636), RatingBase(userId=480, movieId=1, rating=3.0, timestamp=1179178004), RatingBase(userId=483, movieId=1, rating=4.0, timestamp=1178293130), RatingBase(userId=484, movieId=1, rating=4.5, timestamp=1342295949), RatingBase(userId=488, movieId=1, rating=4.5, timestamp=1112382025), RatingBase(userId=490, movieId=1, rating=3.5, timestamp=1328229305), RatingBase(userId=492, movieId=1, rating=4.0, timestamp=863975949), RatingBase(userId=500, movieId=1, rating=4.0, timestamp=1005527755), RatingBase(userId=504, movieId=1, rating=4.0, timestamp=1063644695), RatingBase(userId=509, movieId=1, rating=4.0, timestamp=1435992343), RatingBase(userId=514, movieId=1, rating=4.0, timestamp=1533872400), RatingBase(userId=517, movieId=1, rating=4.0, timestamp=1487954343), RatingBase(userId=522, movieId=1, rating=3.0, timestamp=1253344674), RatingBase(userId=524, movieId=1, rating=4.0, timestamp=851608466), RatingBase(userId=525, movieId=1, rating=4.0, timestamp=1476475973), RatingBase(userId=528, movieId=1, rating=2.5, timestamp=1391736605), RatingBase(userId=529, movieId=1, rating=3.0, timestamp=855583216), RatingBase(userId=533, movieId=1, rating=5.0, timestamp=1424753740), RatingBase(userId=534, movieId=1, rating=4.0, timestamp=1459787997), RatingBase(userId=541, movieId=1, rating=3.0, timestamp=835643027), RatingBase(userId=544, movieId=1, rating=3.0, timestamp=850688537), RatingBase(userId=550, movieId=1, rating=4.0, timestamp=1488728441), RatingBase(userId=555, movieId=1, rating=4.0, timestamp=978746159), RatingBase(userId=559, movieId=1, rating=5.0, timestamp=865095758), RatingBase(userId=560, movieId=1, rating=3.0, timestamp=1469653413), RatingBase(userId=561, movieId=1, rating=4.0, timestamp=1491094681), RatingBase(userId=562, movieId=1, rating=4.5, timestamp=1368893997), RatingBase(userId=567, movieId=1, rating=3.5, timestamp=1525286001), RatingBase(userId=570, movieId=1, rating=4.0, timestamp=1181476989), RatingBase(userId=572, movieId=1, rating=4.0, timestamp=945892484), RatingBase(userId=573, movieId=1, rating=5.0, timestamp=1186722182), RatingBase(userId=579, movieId=1, rating=4.0, timestamp=958881146), RatingBase(userId=580, movieId=1, rating=3.0, timestamp=1167792349), RatingBase(userId=584, movieId=1, rating=5.0, timestamp=834987643), RatingBase(userId=587, movieId=1, rating=5.0, timestamp=953137847), RatingBase(userId=590, movieId=1, rating=4.0, timestamp=1258420408), RatingBase(userId=596, movieId=1, rating=4.0, timestamp=1535709666), RatingBase(userId=597, movieId=1, rating=4.0, timestamp=941557863), RatingBase(userId=599, movieId=1, rating=3.0, timestamp=1498524204), RatingBase(userId=600, movieId=1, rating=2.5, timestamp=1237764347), RatingBase(userId=601, movieId=1, rating=4.0, timestamp=1521467801), RatingBase(userId=603, movieId=1, rating=4.0, timestamp=963178147), RatingBase(userId=604, movieId=1, rating=3.0, timestamp=832079851), RatingBase(userId=605, movieId=1, rating=4.0, timestamp=1277097561), RatingBase(userId=606, movieId=1, rating=2.5, timestamp=1349082950), RatingBase(userId=607, movieId=1, rating=4.0, timestamp=964744033), RatingBase(userId=608, movieId=1, rating=2.5, timestamp=1117408267), RatingBase(userId=609, movieId=1, rating=3.0, timestamp=847221025), RatingBase(userId=610, movieId=1, rating=5.0, timestamp=1479542900)] tags=[TagBase(userId=336, movieId=1, tag='pixar', timestamp=1139045764), TagBase(userId=474, movieId=1, tag='pixar', timestamp=1137206825), TagBase(userId=567, movieId=1, tag='fun', timestamp=1525286013)] link=LinkBase(imdbId='0114709', tmdbId=862)
<class 'cinelytics_sdk.schemas.schemas.MovieDetailed'>

In [4]:
    # Format DataFrame
new_movies_df = client.list_movies(limit=5, output_format="pandas")
new_movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
# 6. Analytics
print("\n Analytics:")
analytics = client.get_analytics()
analytics

 Analytics:

AnalyticsResponse(movie_count=9742, rating_count=100836, tag_count=3683, link_count=9742)

In [6]:
# Récupération d’un film pour test
movie = client.get_movie(1)
print(f"Titre : {movie.title}")
print(f"Genres : {movie.genres}")

Titre : Toy Story (1995)
Genres : Adventure|Animation|Children|Comedy|Fantasy

In [7]:
# On récupère une grande portion de la table (à ajuster selon la taille réelle)
ratings_df = client.list_ratings(limit=100, output_format="pandas")
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   userId     100 non-null    int64
 1   movieId    100 non-null    int64
 2   rating     100 non-null    float64
 3   timestamp  100 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 3.3 KB

In [9]:
# 1. Récupération des statistiques globales
analytics = client.get_analytics()
print(analytics)

movie_count=9742 rating_count=100836 tag_count=3683 link_count=9742

In [10]:
total_ratings = analytics.rating_count
total_ratings

100836

In [11]:
import time
import pandas as pd

In [12]:
# 1. Récupérer le total d’évaluations
total_ratings = client.get_analytics().rating_count
batch_size = 1000
all_ratings = []

# 2. Boucle sur les batches avec pause
for skip in range(0, total_ratings, batch_size):
    print(f"Téléchargement des lignes {skip} à {skip + batch_size}...")
    batch_df = client.list_ratings(skip=skip, limit=batch_size, output_format="pandas")
    all_ratings.append(batch_df)
    time.sleep(0.5)  # pause de 0.5 seconde

# 3. Concaténer tous les résultats
complete_ratings_df = pd.concat(all_ratings, ignore_index=True)

complete_ratings_df

Téléchargement des lignes 0 à 1000...
Téléchargement des lignes 1000 à 2000...
Téléchargement des lignes 2000 à 3000...
Téléchargement des lignes 3000 à 4000...
Téléchargement des lignes 4000 à 5000...
Téléchargement des lignes 5000 à 6000...
Téléchargement des lignes 6000 à 7000...
Téléchargement des lignes 7000 à 8000...
Téléchargement des lignes 8000 à 9000...
Téléchargement des lignes 9000 à 10000...
Téléchargement des lignes 10000 à 11000...
Téléchargement des lignes 11000 à 12000...
Téléchargement des lignes 12000 à 13000...
Téléchargement des lignes 13000 à 14000...
Téléchargement des lignes 14000 à 15000...
Téléchargement des lignes 15000 à 16000...
Téléchargement des lignes 16000 à 17000...
Téléchargement des lignes 17000 à 18000...
Téléchargement des lignes 18000 à 19000...
Téléchargement des lignes 19000 à 20000...
Téléchargement des lignes 20000 à 21000...
Téléchargement des lignes 21000 à 22000...
Téléchargement des lignes 22000 à 23000...
Téléchargement des lignes 23000 à 24000...
Téléchargement des lignes 24000 à 25000...
Téléchargement des lignes 25000 à 26000...
Téléchargement des lignes 26000 à 27000...
Téléchargement des lignes 27000 à 28000...
Téléchargement des lignes 28000 à 29000...
Téléchargement des lignes 29000 à 30000...
Téléchargement des lignes 30000 à 31000...
Téléchargement des lignes 31000 à 32000...
Téléchargement des lignes 32000 à 33000...
Téléchargement des lignes 33000 à 34000...
Téléchargement des lignes 34000 à 35000...
Téléchargement des lignes 35000 à 36000...
Téléchargement des lignes 36000 à 37000...
Téléchargement des lignes 37000 à 38000...
Téléchargement des lignes 38000 à 39000...
Téléchargement des lignes 39000 à 40000...
Téléchargement des lignes 40000 à 41000...
Téléchargement des lignes 41000 à 42000...
Téléchargement des lignes 42000 à 43000...
Téléchargement des lignes 43000 à 44000...
Téléchargement des lignes 44000 à 45000...
Téléchargement des lignes 45000 à 46000...
Téléchargement des lignes 46000 à 47000...
Téléchargement des lignes 47000 à 48000...
Téléchargement des lignes 48000 à 49000...
Téléchargement des lignes 49000 à 50000...
Téléchargement des lignes 50000 à 51000...
Téléchargement des lignes 51000 à 52000...
Téléchargement des lignes 52000 à 53000...
Téléchargement des lignes 53000 à 54000...
Téléchargement des lignes 54000 à 55000...
Téléchargement des lignes 55000 à 56000...
Téléchargement des lignes 56000 à 57000...
Téléchargement des lignes 57000 à 58000...
Téléchargement des lignes 58000 à 59000...
Téléchargement des lignes 59000 à 60000...
Téléchargement des lignes 60000 à 61000...
Téléchargement des lignes 61000 à 62000...
Téléchargement des lignes 62000 à 63000...
Téléchargement des lignes 63000 à 64000...
Téléchargement des lignes 64000 à 65000...
Téléchargement des lignes 65000 à 66000...
Téléchargement des lignes 66000 à 67000...
Téléchargement des lignes 67000 à 68000...
Téléchargement des lignes 68000 à 69000...
Téléchargement des lignes 69000 à 70000...
Téléchargement des lignes 70000 à 71000...
Téléchargement des lignes 71000 à 72000...
Téléchargement des lignes 72000 à 73000...
Téléchargement des lignes 73000 à 74000...
Téléchargement des lignes 74000 à 75000...
Téléchargement des lignes 75000 à 76000...
Téléchargement des lignes 76000 à 77000...
Téléchargement des lignes 77000 à 78000...
Téléchargement des lignes 78000 à 79000...
Téléchargement des lignes 79000 à 80000...
Téléchargement des lignes 80000 à 81000...
Téléchargement des lignes 81000 à 82000...
Téléchargement des lignes 82000 à 83000...
Téléchargement des lignes 83000 à 84000...
Téléchargement des lignes 84000 à 85000...
Téléchargement des lignes 85000 à 86000...
Téléchargement des lignes 86000 à 87000...
Téléchargement des lignes 87000 à 88000...
Téléchargement des lignes 88000 à 89000...
Téléchargement des lignes 89000 à 90000...
Téléchargement des lignes 90000 à 91000...
Téléchargement des lignes 91000 à 92000...
Téléchargement des lignes 92000 à 93000...
Téléchargement des lignes 93000 à 94000...
Téléchargement des lignes 94000 à 95000...
Téléchargement des lignes 95000 à 96000...
Téléchargement des lignes 96000 à 97000...
Téléchargement des lignes 97000 à 98000...
Téléchargement des lignes 98000 à 99000...
Téléchargement des lignes 99000 à 100000...
Téléchargement des lignes 100000 à 101000...

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [13]:
complete_ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

In [14]:
# 4. Agrégation : nombre d’évaluations par utilisateur
ratings_per_user = complete_ratings_df['userId'].value_counts().rename_axis('userId').reset_index(name='rating_count')

# 5. Affichage
ratings_per_user

     userId  rating_count
0       414          2698
1       599          2478
2       474          2108
3       448          1864
4       274          1346
..      ...           ...
605     442            20
606     278            20
607     147            20
608     320            20
609      53            20

[610 rows x 2 columns]

In [15]:
# Agréger rating_count par userId, chunk par chunk

# 1. Récupérer le total d’évaluations
total_ratings = client.get_analytics().rating_count
batch_size = 1000

# 2. Dictionnaire pour accumuler les totaux par userId
from collections import defaultdict
user_rating_counts = defaultdict(int)

# 3. Parcours des chunks
for skip in range(0, total_ratings, batch_size):
    print(f"Traitement du batch {skip} à {skip + batch_size}...")
    batch_df = client.list_ratings(skip=skip, limit=batch_size, output_format="pandas")
    
    # Comptage des évaluations par utilisateur dans le batch
    batch_counts = batch_df['userId'].value_counts()
    
    # Mise à jour du compteur global
    for user_id, count in batch_counts.items():
        user_rating_counts[user_id] += count
    
    time.sleep(0.5)

# 4. Conversion en DataFrame finale
ratings_per_user = pd.DataFrame(list(user_rating_counts.items()), columns=["userId", "rating_count"])

ratings_per_user

Traitement du batch 0 à 1000...
Traitement du batch 1000 à 2000...
Traitement du batch 2000 à 3000...
Traitement du batch 3000 à 4000...
Traitement du batch 4000 à 5000...
Traitement du batch 5000 à 6000...
Traitement du batch 6000 à 7000...
Traitement du batch 7000 à 8000...
Traitement du batch 8000 à 9000...
Traitement du batch 9000 à 10000...
Traitement du batch 10000 à 11000...
Traitement du batch 11000 à 12000...
Traitement du batch 12000 à 13000...
Traitement du batch 13000 à 14000...
Traitement du batch 14000 à 15000...
Traitement du batch 15000 à 16000...
Traitement du batch 16000 à 17000...
Traitement du batch 17000 à 18000...
Traitement du batch 18000 à 19000...
Traitement du batch 19000 à 20000...
Traitement du batch 20000 à 21000...
Traitement du batch 21000 à 22000...
Traitement du batch 22000 à 23000...
Traitement du batch 23000 à 24000...
Traitement du batch 24000 à 25000...
Traitement du batch 25000 à 26000...
Traitement du batch 26000 à 27000...
Traitement du batch 27000 à 28000...
Traitement du batch 28000 à 29000...
Traitement du batch 29000 à 30000...
Traitement du batch 30000 à 31000...
Traitement du batch 31000 à 32000...
Traitement du batch 32000 à 33000...
Traitement du batch 33000 à 34000...
Traitement du batch 34000 à 35000...
Traitement du batch 35000 à 36000...
Traitement du batch 36000 à 37000...
Traitement du batch 37000 à 38000...
Traitement du batch 38000 à 39000...
Traitement du batch 39000 à 40000...
Traitement du batch 40000 à 41000...
Traitement du batch 41000 à 42000...
Traitement du batch 42000 à 43000...
Traitement du batch 43000 à 44000...
Traitement du batch 44000 à 45000...
Traitement du batch 45000 à 46000...
Traitement du batch 46000 à 47000...
Traitement du batch 47000 à 48000...
Traitement du batch 48000 à 49000...
Traitement du batch 49000 à 50000...
Traitement du batch 50000 à 51000...
Traitement du batch 51000 à 52000...
Traitement du batch 52000 à 53000...
Traitement du batch 53000 à 54000...
Traitement du batch 54000 à 55000...
Traitement du batch 55000 à 56000...
Traitement du batch 56000 à 57000...
Traitement du batch 57000 à 58000...
Traitement du batch 58000 à 59000...
Traitement du batch 59000 à 60000...
Traitement du batch 60000 à 61000...
Traitement du batch 61000 à 62000...
Traitement du batch 62000 à 63000...
Traitement du batch 63000 à 64000...
Traitement du batch 64000 à 65000...
Traitement du batch 65000 à 66000...
Traitement du batch 66000 à 67000...
Traitement du batch 67000 à 68000...
Traitement du batch 68000 à 69000...
Traitement du batch 69000 à 70000...
Traitement du batch 70000 à 71000...
Traitement du batch 71000 à 72000...
Traitement du batch 72000 à 73000...
Traitement du batch 73000 à 74000...
Traitement du batch 74000 à 75000...
Traitement du batch 75000 à 76000...
Traitement du batch 76000 à 77000...
Traitement du batch 77000 à 78000...
Traitement du batch 78000 à 79000...
Traitement du batch 79000 à 80000...
Traitement du batch 80000 à 81000...
Traitement du batch 81000 à 82000...
Traitement du batch 82000 à 83000...
Traitement du batch 83000 à 84000...
Traitement du batch 84000 à 85000...
Traitement du batch 85000 à 86000...
Traitement du batch 86000 à 87000...
Traitement du batch 87000 à 88000...
Traitement du batch 88000 à 89000...
Traitement du batch 89000 à 90000...
Traitement du batch 90000 à 91000...
Traitement du batch 91000 à 92000...
Traitement du batch 92000 à 93000...
Traitement du batch 93000 à 94000...
Traitement du batch 94000 à 95000...
Traitement du batch 95000 à 96000...
Traitement du batch 96000 à 97000...
Traitement du batch 97000 à 98000...
Traitement du batch 98000 à 99000...
Traitement du batch 99000 à 100000...
Traitement du batch 100000 à 101000...

     userId  rating_count
0         6           314
1         1           232
2         4           216
3         7           152
4         5            44
..      ...           ...
605     604           100
606     608           831
607     607           187
608     610          1302
609     609            37

[610 rows x 2 columns]

In [16]:
# 5. Tri (optionnel)
ratings_per_user = ratings_per_user.sort_values(by="rating_count", ascending=False)

# 6. Affichage
ratings_per_user

     userId  rating_count
410     414          2698
597     599          2478
471     474          2108
438     448          1864
268     274          1346
..      ...           ...
447     442            20
199     194            20
206     207            20
321     320            20
583     576            20

[610 rows x 2 columns]

## Question Business pertinente

**Quels genres de films les utilisateurs taguent le plus positivement (note ≥ 4.0), et quels sont les tags les plus fréquents associés à ces genres ?**

### Pourquoi c’est pertinent ?
- Cela permet de **comprendre les préférences des utilisateurs** non seulement à travers les notes, mais aussi via les **tags qualitatifs** qu’ils ajoutent.
- Un **analyste marketing** ou un **algorithme de recommandation** peut utiliser cette information pour :
  - recommander des films similaires,
  - optimiser la classification des films,
  - mieux comprendre les "moods" ou intentions derrière les notes élevées.

---

### Données nécessaires (via SDK + API) :
- **`ratings`** : pour filtrer sur les évaluations élevées (`rating ≥ 4.0`).
- **`tags`** : pour voir quels tags sont utilisés sur les mêmes `(userId, movieId)`.
- **`movies`** : pour enrichir avec les genres correspondants.

---

### Étapes principales :
1. Lister toutes les **ratings ≥ 4.0** (en batch si nécessaire).
2. Pour chaque `(user_id, movieId)` filtré, essayer de récupérer un **tag** via `client.get_tag(...)` ou en listant tous les tags et croisant.
3. Récupérer les **genres du film** via `client.get_movie(movieId)`.
4. Agréger : **genre ↔️ tag ↔️ fréquence**.

In [17]:
analytics

AnalyticsResponse(movie_count=9742, rating_count=100836, tag_count=3683, link_count=9742)

In [18]:
# Étape 1 : Récupérer les évaluations élevées (rating >= 4.0) par lots

chunk_size = 1000
skip = 0
all_high_ratings = []

while True:
    chunk = client.list_ratings(
        skip=skip,
        limit=chunk_size,
        min_rating=4.0,
        output_format="pandas"
    )
    
    if chunk.empty:
        break
    
    all_high_ratings.append(chunk)
    skip += chunk_size
    time.sleep(0.5)  # Pause entre appels pour éviter les erreurs 429

# Fusionner tous les chunks
high_ratings_df = pd.concat(all_high_ratings, ignore_index=True)
print(high_ratings_df.shape)
high_ratings_df

(48580, 4)

       userId  movieId  rating   timestamp
0           1        1     4.0   964982703
1           1        3     4.0   964981247
2           1        6     4.0   964982224
3           1       47     5.0   964983815
4           1       50     5.0   964982931
...       ...      ...     ...         ...
48575     610   166528     4.0  1493879365
48576     610   166534     4.0  1493848402
48577     610   168248     5.0  1493850091
48578     610   168250     5.0  1494273047
48579     610   168252     5.0  1493846352

[48580 rows x 4 columns]

In [19]:
# Étape 2 : Identifier les couples (userId, movieId) uniques

user_movie_pairs = high_ratings_df[['userId', 'movieId']].drop_duplicates()
user_movie_pairs

       userId  movieId
0           1        1
1           1        3
2           1        6
3           1       47
4           1       50
...       ...      ...
48575     610   166528
48576     610   166534
48577     610   168248
48578     610   168250
48579     610   168252

[48580 rows x 2 columns]

In [20]:
#  Étape 3 : Récupérer les tags correspondants

# Récupération de tous les tags
all_tags = []
skip = 0
chunk_size =1000
while True:
    tag_chunk = client.list_tags(skip=skip, limit=chunk_size, output_format="pandas")
    if tag_chunk.empty:
        break
    all_tags.append(tag_chunk)
    skip += chunk_size
    time.sleep(0.5)

all_tags_df = pd.concat(all_tags, ignore_index=True)

all_tags_df

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
3678     606     7382         for katie  1171234019
3679     606     7936           austere  1173392334
3680     610     3265            gun fu  1493843984
3681     610     3265  heroic bloodshed  1493843978
3682     610   168248  Heroic Bloodshed  1493844270

[3683 rows x 4 columns]

In [21]:
# Merge avec les high ratings
tagged_high_ratings = pd.merge(user_movie_pairs, all_tags_df, on=["userId", "movieId"])
print(tagged_high_ratings.shape)
tagged_high_ratings

(2378, 4)

      userId  movieId               tag   timestamp
0          2    60756             funny  1445714994
1          2    60756   Highly quotable  1445714996
2          2    60756      will ferrell  1445714992
3          2    89774      Boxing story  1445715207
4          2    89774               MMA  1445715200
...      ...      ...               ...         ...
2373     606     6107      World War II  1178473747
2374     606     7382         for katie  1171234019
2375     610     3265            gun fu  1493843984
2376     610     3265  heroic bloodshed  1493843978
2377     610   168248  Heroic Bloodshed  1493844270

[2378 rows x 4 columns]

In [22]:
# Étape 4 : Récupérer les genres associés aux movieId

def get_movie_genre(movie_id):
    try:
        movie = client.get_movie(movie_id)
        return movie.genres
    except:
        return ""

# Appliquer uniquement aux movieId uniques qu’on a en tags
unique_movie_ids = tagged_high_ratings['movieId'].unique()

movie_genres = {
    movie_id: get_movie_genre(movie_id)
    for movie_id in unique_movie_ids
}

# Ajoutons la colonne genre
tagged_high_ratings['genres'] = tagged_high_ratings['movieId'].map(movie_genres)
print(tagged_high_ratings.shape)
tagged_high_ratings

(2378, 5)

,userId,movieId,tag,timestamp,genres
0,2,60756,funny,1445714994,Comedy
1,2,60756,Highly quotable,1445714996,Comedy
2,2,60756,will ferrell,1445714992,Comedy
3,2,89774,Boxing story,1445715207,Drama
4,2,89774,MMA,1445715200,Drama
...,...,...,...,...,...
2373,606,6107,World War II,1178473747,Drama|War
2374,606,7382,for katie,1171234019,Drama|Mystery|Thriller
2375,610,3265,gun fu,1493843984,Action|Crime|Drama|Thriller
2376,610,3265,heroic bloodshed,1493843978,Action|Crime|Drama|Thriller
2377,610,168248,Heroic Bloodshed,1493844270,Action|Crime|Thriller

In [23]:
# Étape 5 : Agrégation finale : genre ↔ tag ↔ count

# On "explose" les genres s'ils sont séparés par "|"
tagged_high_ratings['genres'] = tagged_high_ratings['genres'].str.split('|')
tagged_exploded = tagged_high_ratings.explode('genres')

tagged_exploded

      userId  movieId               tag   timestamp    genres
0          2    60756             funny  1445714994    Comedy
1          2    60756   Highly quotable  1445714996    Comedy
2          2    60756      will ferrell  1445714992    Comedy
3          2    89774      Boxing story  1445715207     Drama
4          2    89774               MMA  1445715200     Drama
...      ...      ...               ...         ...       ...
2376     610     3265  heroic bloodshed  1493843978     Drama
2376     610     3265  heroic bloodshed  1493843978  Thriller
2377     610   168248  Heroic Bloodshed  1493844270    Action
2377     610   168248  Heroic Bloodshed  1493844270     Crime
2377     610   168248  Heroic Bloodshed  1493844270  Thriller

[6664 rows x 5 columns]

In [24]:
# Compter les combinaisons Genre / Tag
genre_tag_summary = (
    tagged_exploded
    .groupby(['genres', 'tag'])
    .size()
    .reset_index(name='count')
    .sort_values(by='count', ascending=False)
)

genre_tag_summary

        genres               tag  count
1971     Drama  In Netflix queue     20
2159     Drama       atmospheric     19
4321  Thriller      twist ending     16
3280   Mystery      twist ending     14
4304  Thriller          suspense     14
...        ...               ...    ...
18      Action              Borg      1
17      Action       Ben Stiller      1
4464   Western               oil      1
4463   Western             music      1
4462   Western          morality      1

[4472 rows x 3 columns]

Ce tableau `genre_tag_summary` fournit une **analyse croisée entre les genres de films et les tags les plus utilisés** par les utilisateurs qui ont **attribué une note élevée** (`rating >= 4.0`). Voici quelques commentaires et interprétations intéressantes :

---

### **Ce que le tableau montre**
- Chaque ligne représente une combinaison unique de **genre** et de **tag**.
- La colonne `count` indique **le nombre de fois** qu’un certain **tag** a été associé à un film d’un certain **genre**, dans le contexte d’une **note élevée**.
- Exemple :  
  - `Drama` + `In Netflix queue` a été tagué **20 fois** pour des films bien notés de genre `Drama`.
  - `Thriller` + `twist ending` a été tagué **16 fois**, ce qui donne des indices sur ce que les gens aiment dans les thrillers.

---

### **Interprétations business**
1. **Découverte des préférences spectateurs par genre :**
   - Les utilisateurs aiment les **films dramatiques** qu’ils prévoient de regarder plus tard (`In Netflix queue`) — ce tag peut refléter de l'intérêt ou de la recommandation indirecte.
   - Les **Thrillers** avec des `twist endings` ou une ambiance `suspense` sont particulièrement appréciés → à prioriser pour la recommandation.

2. **Utilité pour un moteur de recommandation :**
   - En analysant les tags les plus associés à des films bien notés dans chaque genre, on peut mieux orienter les recommandations personnalisées.
   - Par exemple, recommander des **films “Mystery” avec des twists** à ceux qui aiment les “Thrillers” bien notés avec ce tag.

3. **Insights marketing / catégorisation :**
   - Les plateformes peuvent créer des catégories comme :
     - “**Mystery with a Twist**”
     - “**Atmospheric Dramas**”
     - “**Suspenseful Thrillers**”
   - Ces regroupements peuvent améliorer l’engagement en renforçant la correspondance entre ce que les gens aiment et ce qu’on leur propose.

---

### À noter :
- Ce tableau est basé **uniquement sur les films bien notés**, ce qui biaise volontairement l’analyse pour extraire **ce que les utilisateurs apprécient**.
- Les tags sont **libres**, donc il peut y avoir du bruit (noms d’acteurs, fautes de frappe, etc.).
- Une étape de **nettoyage/normalisation des tags** pourrait encore améliorer l’analyse.

---

On peut aussi explorer les **tags associés aux films mal notés**. On pourrait comparer les deux profils de tags pour voir ce qui plaît ou non dans chaque genre.